doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Site Title
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="./style/main.pcss")
    body
        div.container.mx-auto
            block content
        script(src="./script/main.js")
