doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Site Title
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
        meta(name="theme-color" content="")
        link(rel="stylesheet", href="./style/main.pcss")
        link(rel="shortcut icon" href="" type="image/x-icon")
        link(rel="preload" href="" as="")
        script(defer src="./script/main.js")
    body
        div.container.mx-auto
            block content
